.sh-candidates-data-table {

  &__table-container {
    width: 100%;
    border: 1px solid #bbb !important;
    text-align: center !important;

    td, th {
      padding: 16px;
      text-align: center;
      font-size: 16px;
    }

  }

  &__form-field{
    font-size: 11px;
  }

  ::ng-deep.mat-header-cell {
    text-align: center !important;
  }

  .mat-paginator{
    border: 1px solid #bbb !important;
  }

}
